.container {
    padding: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .search-box {
    padding: 8px;
    font-size: 16px;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .product-row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .product-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #566573;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 400px;
    width: 30%;
  }
  